div.easyrecipe {
	background: #FFFFFF;
	font: 13px Arial, Helvetica, sans-serif;
	padding: 8px;
	border-radius: 6px;
	box-shadow: 3px 3px 5px 2px #555;
	border-style: none;
}
.ERSHeadSection .ERSImageBox {
	width: 93%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	text-align: center;
	border: 1px solid #ede1d7;
	padding-top: 16px;
	padding-bottom: 16px;
	background: #FFF;
	border-radius: 5px;
	margin-bottom: 10px;
}
.easyrecipe .ERSBold {
	font-weight: bold;
}
div.easyrecipe .ERSName {
	color: #fe7300;
	font-size: 24px;
	font-weight: bold;
	/* [disabled]float: left;
*/
}
.easyrecipe .ERSAuthor {
	margin-bottom: 5px;
}
.easyrecipe .ERSCuisine,.easyrecipe .ERSRecipeType {
	margin-right: 20px;
}
.easyrecipe .ERSRating {
	font: 10px "Trebuchet MS", tahoma, Arial, Helvetica, sans-serif;
	text-align: center;
	margin-top: 7px;
	position: relative;
}
.easyrecipe .ERSRatingOuter {
	background: url(images/greystar10.png) repeat-x;
	width: 60px;
	height: 10px;
	font: 10px "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
.easyrecipe .ERSRatingInner {
	background: url(images/redstar10.png) repeat-x;
	width: 50%;
	height: 10px;
}
div.easyrecipe .ERSIngredients .ERSSectionHead {
	color: #666;
	margin-bottom: 5px;
	margin-top: 10px;
}
div.easyrecipe .ERSInstructions .ERSSectionHead {
	color: #666;
	margin-top: 10px;
	margin-bottom: 5px;
}
.easyrecipe .ERSNutrition.nutrition .ERSNutrionDetails {
	font-size: 10px;
	font-style: italic;
}
.easyrecipe .ERSHeadSection,.easyrecipe .ERSIngredients, .easyrecipe .ERSInstructions, .easyrecipe .ERSNotesDiv, .easyrecipe .ERSNutrition {
	color: #fe7300;
	color: #000;
	padding: 15px;
	background: #f8f0da;
	border: 9px solid #ede1d7;
	margin-bottom: 10px;
	border-radius: 8px;
	padding: 15px;
}
.easyrecipe .ERSHRule {
	padding: 0px;
	height: 1px;
	width: 80%;
	color: #CCC;
	margin: 4px auto 0px;
	line-height: 1px;
	background: #e8e3e3;
}
.easyrecipe .ERSSummary {
	margin-top: 5px;
	margin-bottom: 10px;
}
.easyrecipe .ERSImageBox img {
	border-radius: 4px;
	width: 93%;
}
.easyrecipe .ERSPrintRating {
	float: right;
	position: relative;
	text-align: center;
}
.easyrecipe .ERSIngredients .ERSIngredientsHeader {
	font-size: 21px;
	background: url(images/cup.png) no-repeat;
	padding-left: 40px;
	color: #fe7300;
}
.easyrecipe .ERSInstructions .ERSInstructionsHeader {
	font-size: 21px;
	background: url(images/bowl.png) no-repeat;
	padding-left: 40px;
	color: #fe7300;
}
.easyrecipe .ERSNotesDiv .ERSNotesHeader {
	font-size: 21px;
	background: url(images/notepad.png) no-repeat;
	padding-left: 40px;
	color: #fe7300;
}
.easyrecipe .ERSNutrition .ERSNutritionHeader {
	font-size: 21px;
	background: url(images/kandf.png) no-repeat;
	padding-left: 40px;
	color: #fe7300;
}
div.easyrecipe div.ERSIngredients ul li.ingredient,div.easyrecipe div.ERSIngredients ul li.ERSIngredientImage {
	list-style-type: none;
	margin-left: 0px;
}
.easyrecipe .ERSInstructions li.ERSInstructionImage {
	list-style-type: none;
}
.easyrecipe .ERSInstructions li.instruction {
	margin-left: 20px;
}
.easyrecipe .ERSTimes .ERSTime {
	font-weight: bold;
	float: left;
	margin-right: 10px;
}
.easyrecipe .ERSDetails {
	margin-bottom: 5px;
}
.easyrecipe .ERSHeadSection .ERSPrintRating .ERSSavePrint .ERSPrintBtn {
	background: #e66900;
}

