<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
#apDiv1 {
  position:absolute;
  left:409px;
  top:26px;
  width:1047px;
  height:636px;
  z-index:1;
}

#divERFPContainer {
  position:absolute;
  width:850px;
  height:600px;
}

#divERFPFDialog {
  position:absolute;
  width:356px;
  height:578px;
}

#divERFPPost {
  position:absolute;
  left:357px;
  width:492px;
  height:562px;
}
</style>
</head>

<body>
<div id="apDiv1"> 
  <!-- START PAGE -->
  <div id="divERFPContainer">
    <div id="divERFPFDialog">#formatdialog#</div>
    <div id="divERFPPost">
      <div class="easyrecipe">
        <table class="ERHDTable" border="0">
          <tbody>
            <tr>
              <td><span class="item ERName"><span class="fn">An English Breakfast</span></span></td>
              <td align="center" valign="top"><div class="ERRatingOuter" style="display: none;">
                  <div class="ERRatingInner" style="width: 0%;"></div>
                  <div class="review hreview-aggregate"><span class="rating"><span class="average">#ratingval#</span> from <span class="count">#reviews#</span> reviews</span></div>
                </div></td>
              <td class="ERHDPrint" valign="top"><div class="btnERPrint" style="display: none;">Print</div></td>
            </tr>
          </tbody>
        </table>
        <div class="ERClear"></div>
        <div class="ERHead">Recipe Type: <span class="tag">Breakfast</span></div>
        <div class="ERHead">Author: <span class="author">The Chef</span></div>
        <div class="ERHead">Prep time: <span class="preptime">2 mins<span class="value-title" title="PT2M"> </span></span></div>
        <div class="ERHead">Cook time: <span class="cooktime">2 mins<span class="value-title" title="PT2M"> </span></span></div>
        <div class="ERHead">Total time: <span class="duration">4 mins<span class="value-title" title="PT4M"> </span></span></div>
        <div class="ERHead">Serves: <span class="yield">1</span></div>
        <div class="ERSummary"><span class="summary">Here's the perfect breakfast</span></div>
        <div class="ERIngredientsHeader">Ingredients</div>
        <ul class="ingredients">
          <li class="ERSeparator">Toast</li>
          <li class="ingredient">2 Slices bread</li>
          <li class="ingredient">Butter</li>
          <li class="ingredient">Jam</li>
          <li class="ERSeparator">Tea</li>
          <li class="ingredient">1 Teabag</li>
          <li class="ingredient">Hot water</li>
        </ul>
        <div class="ERInstructionsHeader">Instructions</div>
        <div class="instructions">
          <div class="ERSeparator">Toast</div>
          <ol>
            <li class="instruction">Put bread in toaster</li>
            <li class="instruction">Toast until golden brown</li>
            <li class="instruction">Cover with butter and jam to taste</li>
          </ol>
          <div class="ERSeparator">Tea</div>
          <ol>
            <li class="instruction">Put teabag in cup</li>
            <li class="instruction">Pour in boiling water</li>
          </ol>
        </div>
        <div class="nutrition"></div>
        <div class="ERLinkback" style="display: none;">Google Recipe View Microformatting by <a title="Wordpress Recipe Plugin" href="http://www.orgasmicchef.com/easyrecipe/" target="_blank">Easy Recipe</a></div>
        <div class="endeasyrecipe" style="display: none;">1.2.4</div>
      </div>
    </div>
  </div>
  <!-- END PAGE --> 
</div>
</body>
</html>
