<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="../css/easyrecipe-posts.css" rel="stylesheet" type="text/css">
<style type="text/css">
#apDiv1 {
	position:absolute;
	left:394px;
	top:48px;
	width:727px;
	height:439px;
	z-index:1;
}
</style>
</head>

<body>
<div id="apDiv1"> 
  <!-- START PAGE -->
  <div id="easyrecipeGPAdmin" class="easyrecipeUI">
    <div id="divERGPAContainer">
      <div id="divERGPAPostTitle">Post title</div>
      <table>
        <tr>
          <th scope="row">Name</th>
          <td id="tdERGPName">#name#</td>
        </tr>
        <tr>
          <th scope="row">Email:</th>
          <td id="tdERGPEmail"><a href="#email#">#email#</a></td>
        </tr>
        <tr>
          <th scope="row">Website:</th>
          <td id="tdERGPUrl"><a href="#url#" target="_blank">#url#</a></td>
        </tr>
        <tr>
          <th scope="row">Message:</th>
          <td id="tdERGPComment">#message#</td>
        </tr>
      </table>
      <div id="divERGPAClose"><span class="spnERGPAClose">Close</span></div>
    </div>
  </div>
  <!-- END PAGE --> 
</div>
</body>
</html>
