<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="../css/easyrecipe-entry.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#apDiv1 {
    position: absolute;
    left: 398px;
    top: 65px;
    width: 966px;
    height: 502px;
    z-index: 1;
    font: 12px Arial, Helvetica, sans-serif;
}
</style>

</head>

<body>
    <div id="apDiv1">
        <!-- START PAGE -->
    <div id="easyrecipeSelect">
        <div id="divERSELContainer">
            <div id="divERSELHdr">Select the recipe to edit</div>
            <div id="divERSELRecipes">
                <ul>
                    <li>Recipe 1</li>
                    <li>Recipe 2</li>
                </ul>
            </div>
            <div id="divERSELCancel">
                <input type="submit" name="btnERSELCancel" id="btnERSELCancel" value="Cancel" />
            </div>
        </div>
    </div>
        <!-- END PAGE -->
    </div>
</body>
</html>
