<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="../easyrecipe-admin.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#apDiv20 {
  position:absolute;
  left:445px;
  top:10px;
  width:851px;
  height:6426px;
}

#apDiv1 {
  position:absolute;
  left:8px;
  top:7px;
  width:184px;
  height:12px;
  z-index:1;
}

#apDiv2 {
  position:absolute;
  left:20px;
  top:628px;
  width:589px;
  height:20px;
  z-index:1;
}
</style>
<link href="../easyrecipe-admin-design.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="apDiv20"> 
  <!-- START PAGE -->
  <div id="divERContainer">
    <div id="divERHeader">Add a New Recipe</div>
    <div id="divERBody">
      <div class="ERLabel" id="divERName">
        <label>Recipe Name</label>
        <input name="inpERName" type="text" class="ERLongInput" id="inpERName" />
      </div>
      <div class="ERLabel" id="divERAuthor">
        <label>Author</label>
        <input name="inpERAuthor" type="text" class="ERLongInput" id="inpERAuthor" />
      </div>
      <div class="ERLabel" id="divERName">
        <label>Recipe Type</label>
        <input name="inpERType" type="text" id="inpERType" />
        <span class="ERTinytext">e.g. Appetiser, Entree, Main, Dessert</span></div>
      <div class="ERLabel" id="lblERSummary">Summary</div>
      <div id="divERSummary">
        <textarea name="taERSummary" class="ERTextArea" id="taERSummary"></textarea>
      </div>
      <div class="ERLabel" id="lblERIngredients">Ingredients<br />
        <span style="font-size: 12px; font-weight: normal;">One ingredient per line</span></div>
      <div id="divERIngredients">
        <textarea name="taERIngredients" class="ERTextArea" id="taERIngredients"></textarea>
      </div>
      <div class="ERLabel" id="lblERInstructions">Instructions<br />
        <span style="font-weight: normal; font-size: 12px">Put each instruction on a separate line</span></div>
      <div id="divERInstructions">
        <textarea name="taERInstructions" class="ERTextArea" id="taERInstructions"></textarea>
      </div>
      <div class="ERLabel" id="divERTimes">Prep time:
        <input name="inpERPrepTime" type="text" class="ERSmallInput" id="inpERPrepTime" />
        &nbsp;&nbsp;&nbsp;Cook time:
        <input name="inpERCookTime" type="text" class="ERSmallInput" id="inpERCookTime" />
        &nbsp;&nbsp;Serves:
        <input name="inpERYield" type="text" class="ERSmallInput" id="inpERYield" />
        <br />
        <span class="ERTinytext">Enter times as  10 mins or  1h 30m</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="ERTimeError">I can't understand a time you entered</span></div>
      <div id="divERNotesLabel" class="ERLabel ERExpandable">Notes</div>
      <div class="ERLabel ERNone" id="divERNotes">
        <textarea name="taERNotes" class="ERTextArea" id="taERNotes"></textarea>
      </div>
      <div id="divEROtherLabel" class="ERLabel ERExpandable">Other</div>
      <div class="ERLabel ERNone" id="divEROther">
          <div class="EROtherInput">Serve Size
            <input name="inpERServeSize" type="text" class="ERSmallInput" id="inpERServeSize" />
          </div>
          <div class="EROtherInput">Calories
            <input name="inpERCalories" type="text" class="ERSmallInput" id="inpERCalories" />
          </div>
          <div class="EROtherInput">Sugar
            <input name="inpERSugar" type="text" class="ERSmallInput" id="inpERSugar" />
          </div>
          <div class="EROtherInput">Fat
            <input name="inpERFat" type="text" class="ERSmallInput" id="inpERFat" />
          </div>
          <div class="EROtherInput">Sat. Fat
            <input name="inpERSatFat" type="text" class="ERSmallInput" id="inpERSatFat" />
          </div>
          <div class="EROtherInput">Unsat. Fat
            <input name="inpERUnsatFat" type="text" class="ERSmallInput" id="inpERUnsatFat" />
          </div>
          <div class="EROtherInput">Carbs
            <input name="inpERCarbs" type="text" class="ERSmallInput" id="inpERCarbs" />
          </div>
          <div class="EROtherInput">Fiber
            <input name="inpERFiber" type="text" class="ERSmallInput" id="inpERFiber" />
          </div>
          <div class="EROtherInput">Protein
            <input name="inpERProtein" type="text" class="ERSmallInput" id="inpERProtein" />
          </div>
          <div class="EROtherInput">Cholesterol
            <input name="inpERCholestrol" type="text" class="ERSmallInput" id="inpERCholestrol" />
          </div>
          <div class="ERClear"></div>
      </div>
      <div id="btnERButtons">
        <div style="float:left">
          <input type="submit" name="btnERCancel" id="btnERCancel" value="Cancel" />
        </div>
        <div id="divERAdd" style="float:right">
          <input type="submit" name="btnERAdd" id="btnERAdd" value="Add Recipe" />
        </div>
        <div style="float:right" id="divERChange">
          <input type="submit" name="btnERDelete" id="btnERDelete" value="Delete Recipe" />
          &nbsp;&nbsp;&nbsp;&nbsp;
          <input type="submit" name="btnERChange" id="btnERChange" value="Update Recipe" />
        </div>
      </div>
    </div>
  </div>
  <!-- END PAGE --> 
</div>
</body>
</html>
