div.easyrecipe {
	border: 1px dashed #000;
	padding-left: 10px;
	text-align: left;
	background: #f7f7f7;
	padding-top: 10px;
	padding-right: 10px;
	margin-top: 10px;
	position: relative;
	overflow: hidden;
	clear: both;
	font: 13px Arial, Helvetica, sans-serif;
}
.easyrecipe .ERSSavePrint {
	float: right;
}
.easyrecipe .ERSName {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}
.easyrecipe .ERSHead {
	float: left;
	margin-right: 20px;
}
.easyrecipe .ERSDetails {
	margin-bottom: 10px;
}
.easyrecipe .ERSSummary {
	margin-bottom: 10px;
}

