.easyrecipe ul {
    margin: 10px 0 10px 22px
}

.easyrecipe ol {
    margin: 10px 0 10px 30px
}

.easyrecipe .ERHead {
    color: #828080;
    float: left;
    font: 9px "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-right: 15px;
}

.easyrecipe .btnERPrint {
    background: url(images/print.png) no-repeat;
    padding-left: 20px;
    color: #00F;
    text-decoration: underline;
    cursor: pointer;
}

.easyrecipe .ERSummary {
    position: relative;
    clear: both;
    padding-top: 8px;
}

.easyrecipe .ERIngredientsHeader,.easyrecipe .ERInstructionsHeader,.easyrecipe .ERNotesHeader {
    font-weight: bold;
    font-size: 120%;
    margin-top: 5px;
    clear: both;
}

#divERContainer {
    position: relative;
    width: 644px;
}

.easyrecipe #divERHeader {
    position: relative;
    font: 22px Georgia, "Times New Roman", Times, serif;
    margin-top: 15px;
    margin-bottom: 18px;
    margin-left: 14px;
}

.easyrecipe #divERBody {
    position: relative;
    width: 604px;
    padding-left: 12px;
    font: normal 14px Arial, Helvetica, sans-serif;
    border: 1px solid #dfdfdf;
    margin-bottom: 10px;
    margin-left: 14px;
}

.easyrecipe #divERName {
    position: relative;
}

.easyrecipe #lblERIngredients {
    position: relative;
    font-size: 14px;
}

.easyrecipe #divERIngredients {
    position: relative;
}

.easyrecipe #lblERInstructions {
    position: relative;
}

.easyrecipe #divERInstructions {
    position: relative;
}

.easyrecipe #divERNamebox {
    position: absolute;
    left: 3px;
    top: 4px;
    width: 563px;
    height: 29px;
    z-index: 1;
}

.easyrecipe #divERMore {
    position: absolute;
    top: 442px;
    width: 585px;
    height: 141px;
}

.easyrecipe {
    border: 1px dashed #000;
    padding-left: 10px;
    text-align: left;
    background: #f7f7f7;
    padding-top: 10px;
    padding-right: 10px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    clear: both;
}

.easyrecipe #divRateBG {
    width: 95px;
    height: 15px;
    cursor: pointer;
    float: left;
    background: url(images/greystar15.png) repeat-x;
}

.easyrecipe #divRateStars {
    width: 95px;
    height: 15px;
    cursor: pointer;
    background: url(images/yellowstar15.png) repeat-x;
}


.ERHead {
    float: left;
    font: 9px "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin-right: 15px;
    color: #828080;
}

.ERName {
    font-size: 18px;
    font-weight: bold;
    /*    color: #4D4A4A; */
    float: left;
}

.ERClear {
    height: 0;
    clear: both;
}

.ERHeader {
    height: 25px;
}

.instructions ol {
    margin-top: 0px;
}

.easyrecipe.mceNonEditable ul {
    margin-top: 0px;
}

.endeasyrecipe {
    display: none;
    /* Overkill necessary for brain dead IE */
    visibility: hidden;
    height: 0px;
    width: 0px;
    overflow: hidden;
}

.ERRating {
    float: right;
    margin-right: 15px;
    width: 95px;
}

.ERRatingInner {
    background: url(images/yellowstar15.png) repeat-x;
    width: 50%;
    height: 15px;
}

.ERRatingOuter {
    background: url(images/greystar15.png) repeat-x;
    width: 95px;
    height: 15px;
    font: 10px "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
}


.easyrecipe .ERHDTable, .easyrecipe .ERHDTable tr {
    border: none !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
}

.easyrecipe .ERHDTable td {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    vertical-align: top !important;
}

.ERHDPrint {
    margin: 0px;
    padding: 0px;
    width: 55px;
}

.ERHDPrint {
    width: 50px;
}

.ingredients .ERSeparator {
	list-style: none;
	font-style: italic;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 0px;
}

.instructions .ERSeparator {
    list-style: none;
    font-style: italic;
    font-weight: bold;
    margin-left: 14px;
    margin-top: 10px;
}

.ERDisplayNone {
    display: none !important;
}
/*
* fix the li stuff from the standard WP theme
*/
.entry .easyrecipe ul li::before {
    content: normal;
}

.easyrecipe .ERLinkback .ERWRPLink {
    color: inherit;
    text-decoration: none;
}

.ERLinkback {
    font: 9px "Trebuchet MS", Arial, Helvetica, sans-serif;
    position: relative;
    margin-bottom: 6px;
    margin-top: 15px;
}

.ERWRPLink .ERAttribution {
    text-decoration: underline;
}

.ERComment {
    margin-bottom: 10px !important;
}

.ERComment .RateBG {
    width: 95px;
    height: 15px;
    cursor: pointer;
    float: left;
    background: url(images/greystar15.png) repeat-x;
}

.ERComment .ERRateStars {
    width: 95px;
    height: 15px;
    cursor: pointer;
    background: url(images/yellowstar15.png) repeat-x;
}
.easyrecipe .ERIngredients .ingredients li {
	list-style-type: circle;
}

