<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
    <meta name="robots" content="noindex, noarchive">
<link href="../css/easyrecipe-entry.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#apDiv1 {
    position: absolute;
    left: 398px;
    top: 65px;
    width: 966px;
    height: 502px;
    z-index: 1;
    font: 12px Arial, Helvetica, sans-serif;
}
.divERUPGContainer {
  display:block;
}
</style>
</head>

<body>
<div id="apDiv1">
  <!-- START PAGE -->
  <div id="easyrecipeUpgrade">
    <div class="divERUPGContainer">
      <div><strong>This feature is available in</strong></div>
      <div><a href="http://www.easyrecipeplugin.com/" target="_blank"><img src="#easyrecipeURL#/images/easyrecipeplus.png" width="314" height="43" border="0" /></a></div>
      <div><a href="http://www.easyrecipeplugin.com/" target="_blank">Click here</a> to find out how to get this feature<br />
      and all the other Plus goodies <em>for only $24.95!</em></div>
    </div>
  </div>
  <!-- END PAGE -->
</div>
</body>
</html>

