<!-- START PAGE -->
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="noindex, noarchive">
<title>#title#</title> #cssjs#
<link href="#easyrecipeURL#/easyrecipe.css?version=#version#" rel="stylesheet" type="text/css" />
<link href="#easyrecipeURL#/easyrecipe-print.css?version=#version#" rel="stylesheet" type="text/css" />
#customCSS#
</head>

<body>
	<div id="divERPContainer">
		<div class="easyrecipe">
			<div id="imgERPPhoto" style="display: #imagedisplay#">
				<img src="#imageURL#" width="#tx#" height="#ty#" />
			</div>
			#recipe#
			<div class="ERPTagline">
				Recipe by <span class="ERPBlogname">#blogname#</span> at #recipeurl#
			</div>
		</div>
	</div>
</body>
</html>

<!-- END PAGE -->
