<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, noarchive">
    <link href="../css/easyrecipe-entry.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#apDiv1 {
    position: absolute;
    left: 398px;
    top: 65px;
    width: 966px;
    height: 502px;
    z-index: 1;
    font: 12px Arial, Helvetica, sans-serif;
}
</style>

</head>

<body>
    <div id="apDiv1">
        <!-- START PAGE -->
    <div id="easyrecipeSelect">
        <div id="divERSELContainer">
            <div id="divERSELHdr">Select the recipe to edit</div>
            <div id="divERSELRecipes">
                <ul>
                    <li>Recipe 1</li>
                    <li>Recipe 2</li>
                </ul>
            </div>
            <div id="divERSELCancel">
                <input type="submit" name="btnERSELCancel" id="btnERSELCancel" value="Cancel" />
            </div>
        </div>
    </div>
        <!-- END PAGE -->
    </div>
</body>
</html>

