<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<link href="../css/easyrecipe.css" rel="stylesheet" type="text/css" />
<link href="../css/easyrecipe-entry.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body, td, th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
</style>
</head>

<body>
<!-- START PAGE -->
  <div class="easyrecipe mceNonEditable" data-rating="#rating#">
    <!-- START INCLUDEIF hasPhoto -->
    <link itemprop="image" href="#photoURL#" />
    <!-- END INCLUDEIF hasPhoto -->
      <!-- START INCLUDEIF name -->
    <div class="item ERName">#name#</div>
      <!-- END INCLUDEIF name -->
    <div class="ERClear"></div>
    <!-- START INCLUDEIF type -->
    <div class="ERHead"><span class="xlate">Recipe Type</span>: <span class="type">#type#</span> </div>
    <!-- END INCLUDEIF type -->
    <!-- START INCLUDEIF cuisine -->
    <div class="ERHead">Cuisine: <span class="cuisine">#cuisine#</span></div>
    <!-- END INCLUDEIF cuisine -->
    <!-- START INCLUDEIF author -->
    <div class="ERHead">Author: <span class="author">#author#</span></div>
    <!-- END INCLUDEIF author -->
    <!-- START INCLUDEIF preptime -->
    <div class="ERHead"> Prep time:
      <time itemprop="prepTime" datetime="#preptimeISO#">#preptime#</time>
    </div>
    <!-- END INCLUDEIF preptime -->
    <!-- START INCLUDEIF cooktime -->
    <div class="ERHead"> Cook time:
      <time itemprop="cookTime" datetime="#cooktimeISO#">#cooktime#</time>
    </div>
    <!-- END INCLUDEIF cooktime -->
    <!-- START INCLUDEIF totaltime -->
    <div class="ERHead"> Total time:
      <time itemprop="totalTime" datetime="#totaltimeISO#">#totaltime#</time>
    </div>
    <!-- END INCLUDEIF totaltime -->
    <!-- START INCLUDEIF yield -->
    <div class="ERHead"> Serves: <span class="yield">#yield#</span> </div>
    <!-- END INCLUDEIF yield -->
    <!-- START INCLUDEIF summary -->
    <div class="ERSummary summary">#summary#</div>
    <!-- END INCLUDEIF summary -->
    <div class="ERIngredients">
      <div class="ERIngredientsHeader">Ingredients</div>
      <ul class="ingredients">
        <!-- START REPEAT INGREDIENTS -->
        <!-- START INCLUDEIF !hasHeading -->
        <li class="ingredient">#ingredient#</li>
        <!-- END INCLUDEIF !hasHeading -->
        <!-- START INCLUDEIF hasHeading -->
        <li class="ERSeparator">#ingredient#</li>
        <!-- END INCLUDEIF hasHeading -->
        <!-- END REPEAT INGREDIENTS -->
      </ul>
    </div>
    <div class="ERInstructions">
      <div class="ERInstructionsHeader">Instructions</div>
      <div class="instructions">
        <!-- START REPEAT STEPS -->
        <!-- START INCLUDEIF heading -->
        <div class="ERSeparator">#heading#</div>
        <!-- END INCLUDEIF heading -->
        <ol>
          <!-- START REPEAT INSTRUCTIONS -->
          <!-- START INCLUDEIF !hasHeading -->
          <li class="instruction">#instruction#</li>
          <!-- END INCLUDEIF !hasHeading -->
          <!-- END REPEAT INSTRUCTIONS -->
        </ol>
        <!-- END REPEAT STEPS -->
      </div>
    </div>
    <div class="ERNutrition">
      <!-- START INCLUDEIF servesize -->
      Serving size: <span class="servingSize">#servesize#</span>
      <!-- END INCLUDEIF servesize -->
      <!-- START INCLUDEIF calories -->
      Calories: <span class="calories">#calories#</span>
      <!-- END INCLUDEIF calories -->
      <!-- START INCLUDEIF fat -->
      Fat: <span class="fat">#fat#</span>
      <!-- END INCLUDEIF fat -->
      <!-- START INCLUDEIF satfat -->
      Saturated fat: <span class="saturatedFat">#satfat#</span>
      <!-- END INCLUDEIF satfat -->
      <!-- START INCLUDEIF unsatfat -->
      Unsaturated fat: <span class="unsaturatedFat">#unsatfat#</span>
      <!-- END INCLUDEIF unsatfat -->
      <!-- START INCLUDEIF transfat -->
      Trans fat: <span class="transFat">#transfat#</span>
      <!-- END INCLUDEIF transfat -->
      <!-- START INCLUDEIF carbs -->
      Carbohydrates: <span class="carbohydrates">#carbs#</span>
      <!-- END INCLUDEIF carbs -->
      <!-- START INCLUDEIF sugar -->
      Sugar: <span class="sugar">#sugar#</span>
      <!-- END INCLUDEIF sugar -->
      <!-- START INCLUDEIF sodium -->
      Sodium: <span class="sodium">#sodium#</span>
      <!-- END INCLUDEIF sodium -->
      <!-- START INCLUDEIF fiber -->
      Fiber: <span class="fiber">#fiber#</span>
      <!-- END INCLUDEIF fiber -->
      <!-- START INCLUDEIF protein -->
      Protein: <span class="protein">#protein#</span>
      <!-- END INCLUDEIF protein -->
      <!-- START INCLUDEIF cholesterol -->
      Cholesterol: <span class="cholesterol">#cholesterol#</span>
      <!-- END INCLUDEIF cholesterol -->
    </div>
    <!-- START INCLUDEIF notes -->
    <div>
      <div class="ERNotesHeader">Notes</div>
      <div class="ERNotes">#notes#</div>
    </div>
    <!-- END INCLUDEIF notes -->
    <div class="endeasyrecipe" style="display: none">#version#</div>
  </div>
<!-- END PAGE -->
</body>
</html>

