<!-- START PAGE -->
<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="noindex, noarchive">

    <title>EasyRecipe Diagnostics</title>
    <!-- START IGNORE -->
    <link href="../css/easyrecipe-diagnostics.css" rel="stylesheet" type="text/css">
    <!-- END IGNORE -->
    <link href="#pluginURL#/css/easyrecipe-diagnostics.css?#version#" rel="stylesheet" type="text/css">
</head>

<body>
<div id="divDDContainer">
    <div id="divDData">
        <div id="divERDiagData">
            <div class="ERWPinfo">
                <h3>Wordpress</h3>
                <table border="0" cellspacing="5">
                    <tr>
                        <th scope="row">Wordpress version</th>
                        <td>#wpversion#</td>
                    </tr>
                    <tr>
                        <th scope="row">Current user capabilities</th>
                        <td>#wpcapabilities#</td>
                    </tr>
                    <tr>
                        <th scope="row">Blog URL</th>
                        <td>#wpurl#</td>
                    </tr>
                    <tr>
                        <th scope="row">Current theme</th>
                        <td>#wptheme#</td>
                    </tr>
                    <tr>
                        <th scope="row">Theme version</th>
                        <td>#wpthemeversion#</td>
                    </tr>
                    <tr>
                        <th scope="row">Theme URL</th>
                        <td>#wpthemeurl#</td>
                    </tr>
                </table>
                <h3>Plugins </h3>
                <table class="ERDTable" border="0">
                    <tr>
                        <th>Plugin</th>
                        <th>Activated</th>
                        <th>Version</th>
                        <th>URL</th>
                    </tr>
                    #plugindata#
                </table>
                <h3>EasyRecipe</h3>
        <pre>
#ERSettings#
</pre>
                <!-- START INCLUDEIF sendHooks -->
                <h3>Hooks</h3>
                <table class="ERDTable" border="0">
                    <tr>
                        <th scope="col">Hook</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Function</th>
                    </tr>
                    #hookdata#
                </table>
                <!-- END INCLUDEIF sendHooks -->
            </div>
            <h3>PHP</h3>

            <div class="ERPHPinfo">#phpinfo#</div>
        </div>
    </div>
</div>
</body>
</html>
<!-- END PAGE -->
