<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
<meta name="robots" content="noindex, noarchive">
<link href="../css/easyrecipe.css" rel="stylesheet" type="text/css" />
<link href="../css/easyrecipe-entry.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#apDiv1 {
	position: absolute;
	left: 270px;
	top: 62px;
	width: 808px;
	height: 247px;
	z-index: 1;
	font: 12px Arial, Helvetica, sans-serif;
}
</style>
</head>

<body>
	<div id="apDiv1">
		<!-- START PAGE -->
		<div id="divERAddPhotoURL">
			<div id="divERAPUURL">
				<label>Image URL: <input type="text" id="fldERAPUImageURL" />
				</label>
			</div>
			<div id="divERAPUBtns">
				<input type="submit" id="btnERAPUCancel" value="Cancel" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input
					type="submit" id="btnERAPUOK" value="OK" />
			</div>
		</div>
		<!-- END PAGE -->
	</div>
</body>
</html>

