<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, noarchive">
    <link href="../css/easyrecipe-entry.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#apDiv1 {
    position: absolute;
    left: 398px;
    top: 65px;
    width: 966px;
    height: 502px;
    z-index: 1;
    font: 12px Arial, Helvetica, sans-serif;
}
</style>
</head>

<body>
<div id="apDiv1">
  <!-- START PAGE -->
  <div id="easyrecipeHTMLWarn">
    <div class="divERHTMLWarnContainer">
      <div class="divERHTMLWarnHead">WARNING!</div>
      <div>
EasyRecipe is designed so that you should  never have to directly edit the HTML of the recipe itself.<br />
<br />
          If you do, you might just break how EasyRecipe works, and then you'll write to us and tell us our plugin is broken, and we all hate having a broken plugin.<br />
          <br />
          There are safe and simple ways to insert images,
        line breaks, italics, bold and split your recipe into sections. <a href="http://www.easyrecipeplugin.com/support/add-a-photo-to-a-recipe/" target="_blank">Learn more ...</a><br />
        <br />
        <input type="submit" name="button" id="button" value="OK - I understand" />
        <br />
        <br />
        p.s. We don't mind if you change the HTML <em>around</em> the recipe, just not the HTML <em>within</em> the recipe itself. <a href="http://www.easyrecipeplugin.com/support/dont-do-this/" target="_blank">Learn more ...</a><br />
        <br />
      </div>
    </div>
  </div>
  <!-- END PAGE -->
</div>
</body>
</html>

