<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="../css/easyrecipe-style-reset.css" rel="stylesheet" type="text/css">
<link href="../css/easyrecipe-posts.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- START PAGE -->
<p><strong>Is this a Guest Post Page?</strong></p>
<p>
  <label>
    <input name="ERGPRadio" type="radio" id="radio" value="radio" checked>
    &nbsp;Not a guest post page</label>
</p>
<p>
  <label>
    <input type="radio" name="ERGPRadio" id="radio" value="radio">
    &nbsp;Guest post details</label>
</p>
<div id="ERMBBPDetails">
  <label>
Use Gravity form? 
<input type="checkbox">
</label><br>
  <label>
    Form name 
<select name=""></select>
</label>
<br>
  <label>
    Page to load after 
<select name=""></select>
</label>
</div>
<p>
  <label>
    <input type="radio" name="ERGPRadio" id="radio" value="radio">
    &nbsp;Guest post entry</label>
    <div>
      <label>
    Page to load after 
<select name=""></select>
</label>

    </div>
</p>
<p>
  <label>
    <input type="radio" name="ERGPRadio" id="radio" value="radio">
    &nbsp;Guest post thanks</label>
</p>
<!-- END PAGE -->
</body>
</html>
