<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, noarchive">
    <link href="../css/easyrecipe-guestpost.css" rel="stylesheet" type="text/css">
<style type="text/css">
#apDiv1 {
	position: absolute;
	left: 632px;
	top: 72px;
	width: 511px;
	height: 247px;
	z-index: 1;
	font: 12px Arial, Helvetica, sans-serif;
}
</style>
</head>

<body>
	<div id="apDiv1" class="easyrecipeUI">
		<!-- START PAGE -->
		<div id="easyrecipeLinks">
			<div id="divERGPLHdr">Enter the destination URL</div>
			<div>
				<table>
					<tr>
						<td style="width: 50px">URL</td>
						<td><input type="text" id="fldERGPLURL"></td>
					</tr>
					<tr>
						<td>Title</td>
						<td><input type="text" id="fldERGPLTitle"></td>
					</tr>
					<tr>
						<td></td>
						<td><label> <input type="checkbox" id="cbERGPLTarget"> Open link in a new window/tab
						</label></td>
					</tr>
				</table>
			</div>
			<div id="divERGPLBtns">
				<input type="button" id="btnERGPLCancel" value="Cancel"> &nbsp; &nbsp; &nbsp; &nbsp; <input type="button"
					id="btnERGPLAdd" value="Add link">
			</div>
		</div>
		<!-- END PAGE -->
	</div>
</body>
</html>

