<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="noindex, noarchive">
        <link href="../css/easyrecipe-entry.css" rel="stylesheet" type="text/css"/>


    <style type="text/css">
        #apDiv1 {
            position: absolute;
            left: 365px;
            top: 80px;
            width: 534px;
            height: 257px;
            z-index: 1;
            font: 13px "Lucida Grande", Verdana, Arial;
        }
    </style>
</head>

<body>
<div id="apDiv1">
    <!-- START PAGE -->
    <div id="easyrecipeConvert">
        <div id="divERCNVContainer">
            <div id="txtERCNVText1">
                This appears to be a #plugin# formatted recipe.<br/> Do you want to convert it to an EasyRecipe?
            </div>
            <div id="divERCNVButtons">
                <div id="divERCNVSpinner">
                    <img src="#easyrecipeURL#/css/images/spinner02.gif" width="16" height="16"/> Converting...
                </div>
                <input type="submit" name="btnERCNVCancel" id="btnERCNVCancel" value="No thanks"/> &nbsp; <input
                    type="submit"
                    name="btnERCNVOK" id="btnERCNVOK" value="Yes!"/>
            </div>
        </div>
    </div>
    <!-- END PAGE -->
</div>
</body>
</html>

