<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, noarchive">
    <link href="../formatcode/format.css" rel="stylesheet" type="text/css" />
<link href="../formatcode/format-fontchange.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#apDiv1 {
    position: absolute;
    left: 274px;
    top: 63px;
    width: 335px;
    height: 448px;
    z-index: 1;
    font: 10px Verdana, Geneva, sans-serif;
}
</style>
</head>

<body>
  <div id="apDiv1">
    <!-- START PAGE -->
    <div class="ERFOptionHeader">
      <span class="ERFOptionTitle">Font</span>
    </div>
    <div class="ERFFFont">
      <div class="lblERFFFamily">Font</div>
      <div class="divERFFFamily">
        <select class="EFFFamily">
        </select>
      </div>
      <div class="lblERFFColor">Color</div>
      <div class="divERFFontColor">
        <input class="ERFFColorInput" type="text" size="8" maxlength="7" />
      </div>
      <div class="lblERFFBGColor">B/ground</div>
      <div class="ERFFBGColor">
        <input class="ERFFBGColorInput" type="text" size="8" maxlength="7" />
      </div>
      <div class="lblERFFStyle">Style</div>
      <div class="ERFFStyle">
        <select class="lbERFFStyle">
          <option value="" selected="selected"></option>
          <option>normal</option>
          <option>italic</option>
        </select>
      </div>
      <div class="lblERFFWeight">Weight</div>
      <div class="ERFFWeight">
        <select class="lbERFFWeight">
          <option value="" selected="selected"></option>
          <option>normal</option>
          <option>bold</option>
        </select>
      </div>
      <div class="lblERFFSize">Size</div>
      <div class="ERFFSize"></div>
    </div>
    <div class="divERFFList">
      <div id="lblERFLStyle">List Style</div>
      <div id="divERFLStyle">
        <select class="lbERFListStyle">
          <option>none</option>
          <option>disc</option>
          <option>circle</option>
          <option>square</option>
          <option>decimal</option>
          <option>lower-roman</option>
          <option>upper-roman</option>
          <option>lower-alpha</option>
          <option>upper-alpha</option>
        </select>
      </div>
      <div id="lblERFLPosition">List position</div>
      <div id="divERFLPosition">
        <select class="lbERFListPosition">
          <option>inside</option>
          <option>outside</option>
        </select>
      </div>
    </div>
    <div class="ERFFMargin"></div>
    <div class="ERFFPadding"></div>
    <div class="divERFBBorder">
      <div class="ERFOptionHeader">
        <span class="ERFOptionTitle">Border</span>
      </div>
      <div class="divERFBBorderStyles">
        <div class="lblERFBBorder">Border Style</div>
        <div class="divERFBBorderStyle">
          <select class="ERBorderStyle">
            <option>none</option>
            <option>dotted</option>
            <option>dashed</option>
            <option>solid</option>
            <option>double</option>
            <option>groove</option>
            <option>ridge</option>
            <option>inset</option>
            <option>outset</option>
          </select>
        </div>
        <div class="ERFMTColorBox divERFBBorderColor">
          <input type="text" class="ERBorderColorPick miniColors" autocomplete="off" size="8" maxlength="7" />
        </div>
        <div class="lblERFBBorderSize">Border Size</div>
        <div class="divERFBBorderSliderBox"></div>
      </div>
    </div>
    <!-- END PAGE -->
  </div>
</body>
</html>

