<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Untitled Document</title>
    <style type="text/css">
        #apDiv1 {
            position: absolute;
            left: 368px;
            top: 127px;
            width: 867px;
            height: 248px;
            z-index: 1;
        }
    </style>
</head>

<body>
<div id="apDiv1">
    <!-- START PAGE -->
    <div class="ERRSP">
        <!-- START INCLUDEIF !isPublished -->
        <div class="ERRSPNotPublished">A post must be published and publicly visible to generate a snippet preview</div>
        <!-- END INCLUDEIF !isPublished -->
        <!-- START INCLUDEIF isPublished -->
        <div class="ERRSPStatus" postid="#postID#">Retrieving snippet from Google ...</div>
        <div class="ERRSPResult"></div>
        <!-- END INCLUDEIF isPublished -->
    </div>
    <!-- END PAGE -->
</div>
</body>
</html>

