<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, noarchive">
    <style type="text/css">
#ERUDesign {
	width: 400px;
	margin-right: auto;
	margin-left: auto;
}
</style>
</head>
<body>
<div id="ERUDesign">
  <!-- START PAGE -->
  <div>
    <h3>What's new in EasyRecipe #plus# #version#</h3>
    <div style="padding:8px">
      <h4>Want more people to see your recipes?</h4>
      <p>EasyRecipe can now automatically and instantly post your photos to  <a href="http://www.fooderific.com" target="_blank">Fooderific.com</a>'s gallery with a link back to your recipe. It's like Foodgawker or Tastespotting without the effort!</p>
      <p>Check out the Fooderific tab on the EasyRecipe settings page.</p>
    </div>
  </div>
  <!-- END PAGE -->
</div>
</body>
</html>

