/*
FIXME - move to the standard admin CSS but make specific enough so they override
*/

/* ER mods */
.easyrecipeUI .ui-widget input,.easyrecipeUI .ui-widget select,.easyrecipeUI .ui-widget textarea,.easyrecipeUI .ui-widget button {
	font-size: inherit !important;
	color: #373737;
}

.easyrecipeUI input[type="text"],.easyrecipeUI textarea {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #DDDDDD;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}

.easyrecipeUI .ui-widget-overlay {
	background: #aaaaaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x !important;
}

.easyrecipeUI .ui-tabs .ui-tabs-nav li {
	font-size: 12px !important;
}

.easyrecipeUI .ui-dialog .ui-dialog-titlebar {
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	-khtml-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	-khtml-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
}

.easyrecipeUI .ui-dialog .ui-dialog-title {
	font-size: 12px;
}

.easyrecipeUI .ui-button {
	padding: 4px !important;
}

/* Make sure this is underneath the popup */
.easyrecipeFormatUI .ui-widget-overlay .ui-front {
    z-index:99;
}