<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="../css/easyrecipe.css" rel="stylesheet" type="text/css" />
<link href="../css/easyrecipe-entry.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#apDiv1 {
	position: absolute;
	left: 270px;
	top: 62px;
	width: 808px;
	height: 247px;
	z-index: 1;
	font: 12px Arial, Helvetica, sans-serif;
}
</style>
</head>

<body>
	<div id="apDiv1">
		<!-- START PAGE -->
		<div id="divERAddPhotoURL">
			<div id="divERAPUURL">
				<label>Image URL: <input type="text" id="fldERAPUImageURL" />
				</label>
			</div>
			<div id="divERAPUBtns">
				<input type="submit" id="btnERAPUCancel" value="Cancel" /> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input
					type="submit" id="btnERAPUOK" value="OK" />
			</div>
		</div>
		<!-- END PAGE -->
	</div>
</body>
</html>

